In [7]:
from hnews_functions import *
import numpy as np
from string import punctuation
from nltk.corpus import stopwords
from nltk import word_tokenize

In [2]:
conn = sqlite3.connect("hackernews.db")
df = pd.read_sql_query("SELECT * FROM hackernews", conn)
df.head()

,by,descendants,score,time,title,type,url,rank
0,doener,51,314,2018-01-29 18:13:29,LinuxBoot,story,https://www.linuxboot.org/,1
1,konamacona,29,85,2018-01-29 18:35:31,Show HN: Card Proxy Generator – Generate print...,story,http://mitchkeenan.com/cardproxy/,2
2,lermontov,26,86,2018-01-28 05:23:31,How Schopenhauer’s thought can illuminate a mi...,story,https://aeon.co/ideas/how-schopenhauers-though...,3
3,walterbell,14,20,2018-01-29 20:48:32,Restoring MacOS device from a snapshot with AP...,story,https://maclovin.org/blog-native/2017/restorin...,4
4,devy,87,128,2018-01-29 16:19:07,Self-Crashing Cars,story,https://www.zachaysan.com/writing/2018-01-17-s...,5

In [3]:
df.type = df.type.astype('category')
df.dtypes

by               object
descendants       int64
score             int64
time             object
title            object
type           category
url              object
rank              int64
dtype: object

In [4]:
df = df.dropna(axis=1, how='any')

In [5]:
df.title.replace("", np.NaN)
df.isnull().sum()

by             0
descendants    0
score          0
time           0
title          0
type           0
url            0
rank           0
dtype: int64

In [8]:
# Create tokenized list without stopwords
# Create list of stop words
# Create term frequency function
# Create inverse document frequency

In [9]:
stop_words = stopwords.words("english") + list(punctuation)
def tokenize(text):
    words = word_tokenize(text)
    words = [w.lower() for w in words]
    return [w for w in words if w not in stop_words and not w.isdigit()]

[u'i', u'me', u'my', u'myself', u'we']